<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
<div th:replace="views/common/navbar.html"></div>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <a href="/home"><img class="d-block mx-auto mb-4" src="/image/springboot.png" width="130"></a>
            <h2>ATACHMENT UPDATE</h2>
        </div>

        <div style="margin-left: 350px; margin-right: 350px;">
            <form class="needs-validation" action="/attm/update" method="POST" enctype="multipart/form-data" id="attmForm">
                <input type="hidden" name="boardId" th:value="${b.boardId}">
                <input type="hidden" name="page" th:value="${page}">
                <div class="row g-3">
                    <div class="col-12">
                        <label class="form-label">TITLE</label>
                        <input type="text" class="form-control" id="boardTitle" name="boardTitle" th:value="${b.boardTitle}"/>
                    </div>

                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text">CONTENT</span>
                            <textarea class="form-control" rows="10" name="boardContent" th:text="${b.boardContent}" style="resize: none;"></textarea>
                        </div>
                    </div>

                    <br><br><br>
                    <div>
                        <th:block th:each="a : ${list}">
                            <h5>
                                <a th:href="@{/}+${a.renameName}" th:download="${a.originalName}" th:text="${a.originalName}"></a>
                                <button type="button" class="btn btn-outline-dark btn-sm deleteAttm" th:id="|delete-${a.renameName}/${a.attmLevel}|">삭제 OFF</button>
                                <input type="hidden" name="deleteAttm">
                            </h5>
                        </th:block>
                    </div>

                    <button type="button" class="w-25 btn btn-outline-success" id="addFile">+ 파일추가</button>
                    <div id="fileArea">
                        <div class="mb-3">
                            <input type="file" class="form-control form-control-lg" name="file" multiple>
                        </div>
                    </div>

                    <br><br><br><br><br>

                    <button class="w-100 btn btn-success btn-lg" type="button" id="submitAttm">SUBMIT</button>
                    <button class="w-100 btn btn-secondary btn-lg" type="button" onclick="javascript:history.back();">BACK</button>
                    <button class="w-100 btn btn-dark btn-lg" type="button" th:onclick="|location.href='/attm/list?page=${page}'|">GO TO LIST</button>
                </div>
            </form>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small"></footer>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    <h3 class="mb-0">첨부파일이 삽입되지 않았습니다.</h3>
                    <p class="mb-0">작성된 글은 일반 게시판으로 옮겨집니다.</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end" id="moveBoard">
                        <strong>네</strong>
                    </button>
                    <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">아니오
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = () => {
        const fileArea = document.querySelector("#fileArea");
        document.getElementById("addFile").addEventListener('click', () => {
            const newDiv = document.createElement("div");
            newDiv.classList.add("mb-3");
            newDiv.innerHTML = "<input type='file' class='form-control form-control-lg' name='file'/>";
            fileArea.append(newDiv);
        });

        const del = document.querySelectorAll(".deleteAttm");
        for (const d of del){
            d.addEventListener('click', () => {
                const nextHidden = d.nextElementSibling;
                if (nextHidden.value === ''){
                    d.style.backgroundColor = 'black';
                    d.style.color = 'white';
                    nextHidden.value = d.id.split('-')[1];
                    d.innerText = '삭제 ON';
                }else{
                    d.style.backgroundColor = '';
                    d.style.color = '';
                    nextHidden.removeAttribute('value');
                    d.innerText = '삭제 OFF';
                }
            });
        }

        const form = document.getElementById("attmForm");
        document.getElementById("submitAttm").addEventListener('click', () => {
            const files = document.getElementsByName("file");
            let isEmpty = true;
            for (const f of files) {
                if (f.value !== ''){
                    isEmpty = false;
                    break;
                }
            }
            let isAllRemove = true;
            for (const d of del) {
                if (d.innerText === '삭제 OFF') {
                    isAllRemove = false;
                    break;
                }
            }
            if (isEmpty && isAllRemove){
                $('#modalChoice').modal('show');
            }else{
                form.submit();
            }
        });

        document.getElementById("moveBoard").addEventListener('click', () => {
            form.submit();
        });
    }
</script>
</body>
</html>